<div class="ticket-edit">
  <h1>Editing Ticket</h1>

  <%= render 'form', ticket: @ticket %>

  <div class="page-actions">
    <%= link_to "Show this ticket", @ticket, class: "btn" %>
    <span> | </span>
    <%= link_to "Back to tickets", tickets_path, class: "btn" %>
  </div>
</div>
